{% load static %}
<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detection</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(24, 41, 53);
        }

        
        h1 {
            color: rgb(236, 236, 243);
        }
        h2 {
            color: rgb(236, 236, 243);
        }
        

        p {
            font-size: 18px;
        }
 </style>       
</head>
<body>
    <h1>Welcome to Emotion Detected Music Recommendation System</h1><br>
    
    <table border="1" width="100%" height="500" cellspacing="0" cellpadding="0" bgcolor=" #3e6f96" >
        
        <tr>
            <th width="30%" height="15"><h2>Emotion Detection From Image</h2></th>
            <th><h2>My Recommended Songs suitable for your Mood.</h2></th>
        </tr>
        <tr>
            <td align="left">
                <table border="0"><tr><td width="30"></td><td>
                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;Upload an image</h2>
                &nbsp;&nbsp;&nbsp;&nbsp;<form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit">Upload</button>
                </form>
            
                {% if obj %}
                <img src="{{ obj.image.url }}" alt="Uploaded Image" width="400" height="400">
                <p><h2>The emotion is: {{ emotion }}</h2></p>
                
                {% endif %}

                </td></tr></table>
                
            </td>
            <td align="center">
                {% if obj %}

                <table border="1" width="900" height="500" cellspacing="0" cellpadding="0" bgcolor="white">
                    <tr>
                        
                        <th  height="25" >Name</th>
                        <th>Artist</th>
                        <th>Mood</th>
                        <th>Popularity</th>
                        <th>YouTube Link</th>
                    </tr>
                    {% for song in recommended_songs %}
                    <tr>
                        
                        <td width="25%">&nbsp;&nbsp;{{ song.name }}&nbsp;</td>
                        <td width="15%">&nbsp;&nbsp;{{ song.artist }}&nbsp;</td>
                        <td width="15%">&nbsp;&nbsp;{{ song.mood }}&nbsp;</td>
                        <td width="10%">&nbsp;&nbsp;{{ song.popularity }}&nbsp;</td>
                         <td width="35%">&nbsp;&nbsp;<!--<a href="{{ song.youtube_link }}" target="_blank">Play on YouTube</a>-->&nbsp;</td> 
                    </tr>
                    {% endfor %}
                  
                </table>

                {% endif %}
            </td>
        </tr>
        </table>

        <h3>By Sasi & Gurinder</h3><br>
    
</body>
</html>
